$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$footer-color:#333;
$border:1px solid #000;
$contentPadding:5px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font: $font-stack;
  color: $primary-color;
  background: #CCC;
  position:relative;
}
.container{
	background: white;

}
.projectHeader{
	border-bottom:$border;
	background: #3399CC;
	.headerTitle{
		color: white;
	}
	.headerMenu{
		margin:0 auto;
		padding:0;
		text-align:center;

	}
}
.yellow{
	color: yellow;
}
.blue{
	color: blue;
}
.white{
	color: #CCCCCC;
}
.grey{
	color: #999999;
}
.darkGrey{
	color: #666666;
}
.displayNone{
	display:none;
}
#navbarList{
	margin:0;
	padding:0;
	width:100%;
}
.formOption{
	padding:5px 10px;
	white-space: nowrap;

}
.cityBody{
	border-top:4px solid #3399CC; 
}
.cityForecast{
	background: #75BBDD;
	padding-bottom:10px;
}
.forecastHeader{
	background: #3399CC;
}

.build{
	font-size:10px;
}
.temperature,.condition{
	font-size:125%;
	font-weight:bold;
}
.sunRiseSet{
	width:80%;
	margin:10px;
	max-width:300px;
}
.sunRiseSet td{
	width:50%;
}
.otherConditions{
	width:80%;
	margin:10px;
	padding:0;
	max-width:300px;
	
}
.otherConditions td{
	width:50%;
	
}
.dailyForecast{
	width:95%;

}
.dailyForecast h4{
	background: #ACACAC;
	padding:10px;
	width:100%;
}
.dailyForecast table{
	
	background: #CCCCCC;
}
.dailyForecast td{
	width:33%;
	border-bottom:$border;
}
.projectBody{
	padding:$contentPadding;
}
.locationMap{
	margin:0 auto;
	padding:$contentPadding;
}
.projectFooter{
	border-top:$border;
	padding:$contentPadding;
	background: #3399CC;
}
h1 {
  text-align: center;
  font: $font-stack;
}
